
<div id="logo-desktop">
        <svg width="92" height="20" xmlns="http://www.w3.org/2000/svg">
         <!-- Created with Method Draw - http://github.com/duopixel/Method-Draw/ -->
         <defs>
          <filter height="200%" width="200%" y="-50%" x="-50%" id="svg_1_blur">
           <feGaussianBlur stdDeviation="0"/>
          </filter>
         </defs>

         <g>
          <text font-weight="normal" filter="url(#svg_1_blur)" xml:space="preserve" text-anchor="start" font-family="'Trebuchet MS', Gadget, sans-serif" font-size="16" id="svg_1" y="15.389688" x="1.125432" stroke="#000" fill="#fff">hasan' s blog</text>
          <text class="change-fill" font-weight="normal" filter="url(#svg_1_blur)" xml:space="preserve" text-anchor="start" font-family="'Trebuchet MS', Gadget, sans-serif" font-size="16" id="svg_1" y="15.389688" x="1.125432" stroke="#000" fill="#000">hasan' s blog</text>
         </g>
        </svg>
</div>
<div id="logo-mobile" class="hidden">
    <svg width="92" height="20" xmlns="http://www.w3.org/2000/svg">
         <!-- Created with Method Draw - http://github.com/duopixel/Method-Draw/ -->
         <defs>
          <filter height="200%" width="200%" y="-50%" x="-50%" id="svg_1_blur">
           <feGaussianBlur stdDeviation="0"/>
          </filter>
         </defs>

         <g>
          <text font-weight="normal" filter="url(#svg_1_blur)" xml:space="preserve" text-anchor="start" font-family="'Trebuchet MS', Gadget, sans-serif" font-size="16" id="svg_1" y="15.389688" x="1.125432" stroke="#000" fill="#000">hasan' s blog</text>
          <text class="change-fill" font-weight="normal" filter="url(#svg_1_blur)" xml:space="preserve" text-anchor="start" font-family="'Trebuchet MS', Gadget, sans-serif" font-size="16" id="svg_1" y="15.389688" x="1.125432" stroke="#fff" fill="#fff">hasan' s blog</text>
         </g>
        </svg>
</div>
